@media only screen and (max-width: 480px) {
	nav {
		height: auto;
		position: fixed;
	}
	nav .menu {
		width: 100%;
		float: none;
		text-align: left;
		clear: both;
	}
	nav .logo a img{
		width: 250px;
		float: left;
		margin-top: 0px;
	}
	.slide {
		height: 400px;
	}
	.thumb .cover {
		width: auto;
		height: auto;
	}
	#thumb img {
		width: 100%;
	}
	form .input{
		width: 100%;
	}
	form textarea {
		width: 100%;
	}
	.right-detail img {
		height: auto;
		width: auto;
	}
	.slideshow {
		height: 300px;
	}
	.slideshow img {
		width: 100%;
		height: 300px;
	}
	.left {
		width: 100%;
		float: none;
		clear: both;
		margin: 0px;
		padding-bottom: 10px;
	}
	.right {
		width: 100%;
		float: none;
		clear: both;
		margin: 0px;
		padding-bottom: 10px;
	}
	.left-detail {
		width: 100%;
		float: none;
		clear: both;
		margin: 0px;
		padding-bottom: 10px;
	}
	.right-detail {
		width: 100%;
		float: none;
		clear: both;
		margin: 0px;
		padding-bottom: 10px;
	}
	.col-img {
		width: 45%;
		float: left;
		margin-right: 5%;
	}
	/*menu*/

	/*column*/
	.footer .row {
		width: 100%;
		float: none;
		text-align: center;
	}
	.col-left {
		float: none;
		width: 100%;
		clear: both;
	}
	.col-middle {
		float: none;
		width: 100%;
		clear: both;
	}
	.col-right {
		float: none;
		width: 100%;
		clear: both;
	}
	.menu-btn {
		display: inline-block;
		float: right;
		margin-top: 10px;
	}
	.menu ul li {
		width: 100%;
	}
	.menu ul li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.responsive-menu{
		display: none;
	}
	.logo a {
		padding-top: 0px;
		text-align: left;
	}
	nav .logo img {
		padding-top: 0px;
	}
	.nav {
		width: 100%;
		margin: 0px auto;
	}
	.none {
		display: block;
	}
	.menu ul {
		margin-bottom: 10px;
	}
	.menu ul li:hover > ul {
		display: none;
	}
	.menu ul li .dropdown,.dropdown2 {
		position: static;
		display: none;
		border:none;
		margin-top: 0px;
	}
	.slideshow .caption .h1 {
		text-align: left;
		padding: 15px;
	}
}
@media only screen and (max-width: 767px) {
	nav {
		height: auto;

	}
	.slideshow {
		height: 300px;
	}
	.slideshow img {
		width: 100%;
		height: 300px;
	}
	nav .menu {
		width: 100%;
		float: none;
		text-align: center;
		clear: both;
	}
	nav .logo {
		width: 250px;
		float: left;
		margin-bottom: 10px;
	}
	.none {
		display: block;
	}
	.menu ul {
		margin-bottom: 10px;
	}
	.menu ul li {
		width: 100%;
	}
	.menu ul li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.menu ul li:hover > ul {
		display: none;
	}
	.menu ul li .dropdown {
		position: static;
		display: none;
		border:none;
		margin-top: 0px;
	}
	.menu-btn {
		display: inline-block;
		float: right;
		margin-top: 20px;
	}
	.responsive-menu{
		display: none;
	}
	.slide {
		height: 400px;
	}
	.left-detail {
		width: 100%;
		clear: both;
	}
	.right-detail {
		width: 100%;
		clear: both;
	}
	.right-detail .mini {
		width: 30%;
		float: left;
		margin-right: 3%;
	}
	.none {
		display: block;
	}
	.slideshow .caption .h1 {
		text-align: left;
		padding: 20px 30px;
	}
	form .input{
		width: 100%;
	}
	form textarea {
		width: 100%;
	}

}
