@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html,body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	letter-spacing: 0.2px;
	font-size: 13px;
	background-color: #fff;
	color: #fff;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
#container {
	width: 90%;
	margin: 0px auto; 
}
a {
	margin: 0px;
	text-decoration: none;
	color: #666666;
	cursor: pointer;
}
h3,h2 {
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 3px;
	letter-spacing: 0.5px;
	color: #666666;
}
a h3:hover {
	color: #2c3e50;
}
.fixed {position: fixed;width: 100%;}
p {
	margin: 0px;
	font-size: 13px;
	letter-spacing: 0.5px;
	color: #666666;
}
.populer a p {
	font-weight: bold;
	font-size: 11px;
	padding-bottom: 3px;
}
.populer a p:hover {
	color: #aaa;
}
.populer .sub {
	font-size: 11px;
	color: #aaa;
}
img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
    -webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.thumb img {
	-webkit-filter: brightness(100%);
}
.thumb img:hover {
	-webkit-filter: brightness(80%);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.thumb {
/*	border-bottom: 2px solid #fafafa;*/
	padding-bottom: 10px;
	overflow: hidden;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.thumb p {
	margin-top: 6px;
}
.thumb .cover {
	height: 350px;
	display: block;
	margin: 0px auto;
	width: 100%;
}
.thumb:hover {
/*	border-bottom: 2px solid #3498db;*/
	padding-bottom: 10px;
}
nav {
	background-color: rgba(0,0,0,0.1);
	height: 80px;
	width: 100%;
	position: absolute;
	z-index: 2;

}
.slideshow { 
    position: relative; 
    width: 100%;
    height: 600px; 
}

.slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}
.slideshow img {
	height: 600px;
}
.slideshow .caption {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 0%;
	width: 100%;
	z-index: 9;
	background-color: rgba(0,0,0,0.2);
}
.slideshow .caption .h1 {
	padding: 20px 60px;
	font-size: 15px;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.7);
}
/*.blur {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}*/
.info {
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fafafa;
}
nav .menu {
	float: right;
	width: 60%;
	text-align: right;
}
nav .logo a img {
	padding-top: 15px;
	width: 300px;
	float: left;
	opacity: 0.9;
}



/*menu*/
.menu ul {
	list-style: none;
	padding: 0px;margin: 0px;
}
.menu ul .dropdown,.dropdown2 {
	position: absolute;
	display: none;
}
.menu ul li {
	display: inline-block;
	height: auto;
	font-weight: normal;
}
.menu ul li li {
	display: block;
	background-color: rgba(0,0,0,0.1);
}
.menu ul li .dropdown li a {
	min-width: 170px;
	display: block;
	padding:15px 15px;
	font-size: 12px;
}
.menu ul li .dropdown2 li a {
	min-width: 170px;
	display: block;
	padding:15px 15px;
	font-size: 12px;
}
.menu li a {
	height: auto;
	display: block;
	padding: 30px 15px;
	text-decoration: none;
	color: #fff;
	text-align: left;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menu li a:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
.menu ul li:hover > ul {
	display: block;
}
.menu ul li .dropdown,.dropdown2 {
	border-top: solid #fff;

}
.menu .icon {
	float: left;
	margin-top: 0px;
	margin-right: 3px;
	width: 18px;
	opacity: 0.7;
}

/*content*/
.content {
	background-color: #fff;
	height: auto;
	width: 100%;
	padding-bottom: 20px;
	clear: both;
}
.content .center h3 {
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
}
/*main*/
.center {
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #1979D0;
	margin-bottom: 10px;
	text-align: center;
}
.left {
	float: left;
	width: 48.5%;
	margin-right: 1.5%;
}
.right {
	float: right;
	width: 48.5%;
	margin-left: 1.5%;
}
.left-detail {
	float: left;
	width: 73.5%;
	margin-right: 1.5%;
}
.detail p {
	padding-bottom: 20px;
}
.right-detail {
	float: right;
	width: 23.5%;
	margin-left: 1.5%;
}
.right-detail h3 {
	font-size: 12px;
}
.right-detail img {
	height: 100px;
	width: 100%;
}
.sub {
	font-size: 11.5px;
	color: #d2d2d2;
	letter-spacing: 1px;
}
.clear {
	clear: both;
}

/*footer*/
/*.footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #2c3e50;
	clear: both;
	height: auto;
	color: #10181f;
	border-bottom: 1px solid rgba(255,255,255,0.1);
}
.footer a p {
	color: rgba(255,255,255,0.7);
}
.footer a p:hover {
	color: rgba(255,255,255,0.9);
}
.footer .row h3 {
	margin-bottom: 10px;
	color: rgba(255,255,255,0.8);
}
.footer .row {
	float: right;
	width: 24%;
	margin-right: 5px;
	margin-left: 5px;
}
.footer .row p {
	padding-bottom: 10px;padding-top: 10px;
}*/
footer {
	margin-top: 30px;
	background-color: #2c3e50;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.7);
}

button {
	border: none;
	background-color: rgba(0,0,0,0.3);
	padding: 15px 20px;
	color: #fff;
	margin-top: 20px;
	letter-spacing: 2px;
	border:1px solid rgba(255,255,255,0.3);
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
button:hover {
	background-color: rgba(0,0,0,0.4);
	cursor: pointer;
}

.blockq {
	background-color: #f1f1f1;
	width: 100%;
	height: 25px;
	padding-top: 0px;
	padding-bottom:4px;
	color: #555555;
	margin-bottom: 15px;
	border-left: 4px solid #2c3e50;
}
.well {
	background-color: #2c3e50;
	width: 100%;
	height: auto;
	padding-top: 0px;
	padding-bottom:4px;
	color: #555555;
}
.block {
	background-color: #2c3e50;
}
.block p {
	color: #fff;
}
.blockq h3 {
	font-size: 13px;
	text-transform: uppercase;
}
.blockq p {
	padding-top: 15px;
	padding-bottom:15px;
}
.well p {
	padding-top: 15px;
	padding-bottom:15px;
	color: #f1f1f1;
}
.col-left {
	float: left;
	width: 32%;
	margin-right: 1%;
}
.col-middle {
	float: left;
	width: 32%;
	margin-left: 1%;
}
.col-right {
	float: right;
	width: 32%;
	margin-left: 1%;
}
.col-img {
	float: left;
	width: 24%;
	margin-right: 1%;
}
.video iframe{
	width: 100%;
	margin-bottom: 15px;
}
/*breadcrumb dashboard admin*/
.submenu {
	background-color: #f1f1f1;
	border-left: 4px solid #2c3e50;
	padding-bottom: 15px;
	padding-top	: 15px;
	width: 100%;
	margin-bottom: 20px;
}
.submenu ol {
	list-style: none;
	padding: 0px;margin: 0px;
	padding-left: 15px;
}
.submenu ol li {
	display: inline-block;
	height: auto;
	font-weight: normal;
	color: #888888;
}
.submenu ol li a {
	text-decoration: none;
	color: #2c3e50;
}
.submenu .active {
	color: #aaa;
}

/*menu responsive*/
.expand {
	display: block !important;
}
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(255,255,255);
	z-index: 99;
	cursor: pointer;
	opacity: 0.9;
}
.menu-btn {
	display: none;
	cursor: pointer;
}
.none {
	display: none;
}
.blockq .text-left {
	float: left;
	text-align: left;
}
.blockq .text-right {
	float: right;
	text-align: right;
}
.thumb .title {
	background-color: #2c3e50;
	color: #fff;
	padding: 7px 10px;
	font-size: 12px;
	letter-spacing: 0.5px;
	opacity: 0.9;
	text-overflow: ellipsis;
	width: auto;
	white-space: nowrap;
	overflow:hidden;
}
.thumb:hover .title{
	opacity: 1;
}
#thumb {
	clear: both;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom:15px;
	padding-top: 15px;
}
#thumb img {
	width: 30%;
	float: left;
	margin-right: 15px;
	height: 140px;
	max-height: 140px;
}
#thumb a h2 {
	font-size: 15px;
}
#thumb2 .galeri {
	width: 30%;
	float: left;
	margin-right: 3%;
	margin-bottom: 3%;
}
#thumb2 .sub {
	margin-top: 5px;
}
form .input {
	height: 30px;
	width: 40%;
	padding-left: 10px;
	margin-bottom: 15px;
	color: #aaa;
	border:none;
	border: 1px solid #f1f1f1;
	border-left: 4px solid  #2c3e50;
	font-family: Open sans;
}
.form .input:focus {
	border:none;
	box-shadow: none;
}
form textarea {
	height: 200px;
	width: 60%;
	padding-left: 10px;
	padding-top: 10px;
	margin-bottom: 15px;
	color: #aaa;
	border: 1px solid #f1f1f1;
	border-left: 4px solid  #2c3e50;
	font-family: Open sans;
}
form .submit {
	height: 40px;
	background-color: #2c3e50;
	color: #fff;
	width:170px;
	border:none;
	font-weight: bold;
	letter-spacing: 1px;
	cursor: pointer;
}
.images {
	width: 60%;
	margin: 0px auto;
}