@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
html,body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	letter-spacing: 0.2px;
	font-size: 13px;
	color: #fff;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
#container {
	width: 90%;
	margin: 0px auto; 
}
a,p,h1,h2,h3 {margin: 0px;text-decoration: none;}
a {color: #fff;}
.form-login {
	text-align: center;
	margin: 0px auto;
}
.form-login p {
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 1px;
}
form {
	margin-top: 15%;
}
form .usr {
	border-radius: 3px;
	height:40px;
	width: 270px;
	padding-left: 15px;
	margin-bottom: 10px;
	border: 1px solid  #f1f1f1;
	background-color: #fff;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}
form .pwd {
	border-radius: 3px;
	height:40px;
	width: 270px;
	padding-left: 15px;
	margin-bottom: 10px;
	border: 1px solid  #f1f1f1;
	background-color: #fff;
	letter-spacing: 0.5px;
	margin-bottom: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0px;
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}
form .submit {
	height: 45px;
	width: 290px;
	border: 1px solid #243444;
	background-color: #243444;
	color: rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	font-weight: bold;
	border-radius: 3px;
	margin-top: 15px;
	border-bottom: 3px solid #1d2c3b;
}
form .submit:hover {
	background-color: #1d2c3b;
}
form .header {
	color: #fff;
	font-size: 29px;
	margin-bottom: 20px;
	color: #4c6885;
}
form b {
	color: #fff;
	opacity: 0.7;
}
form .code {
	width: 30px;
	float: left;
	text-align: center;
}
form span {
	font-weight: 700;
}
form img {
	width: 140px;
	margin-bottom: 20px;
}

footer {
	padding-top: 10px;
	font-size: 11px;
	letter-spacing: 1px;
	color: rgba(255,255,255,0.4);
	bottom: 20px;
	text-align: center;
	width: 100%;
}


/*Dashboard Admistrator*/
nav {
	background-color: #263749;
	height: 30px;
	padding-top: 7px;
	padding-bottom: 5px;
	border-bottom: 2px solid #263749;
	width: 100%;
	position: fixed;
	z-index: 2;
}
nav .nusacms {
	float: left;
	width: 50%;
}
nav .nusacms .heading {
	font-size: 20px;
	color: rgba(255,255,255,0.9);
	padding-left: 17px;
}
nav .logout {
	float: right;
	width: 50%;
}
nav .logout .user {
	text-align: right;
	margin-right:3.5%;
	padding-top: 3px;
}
nav .logout .user span {padding-right: 5px;}
/*sidebar*/
.sidebar {
	background-color: #2c3e50;
	width: 21%;
	height: 100%;
	position: fixed;
	float: left;
}
/*content*/
.content {
	background-color: #f1f1f1;
	width: 73%;
	float: right;
	margin-right: 3%;
	margin-bottom: 1.5%;
	border-left: 4px solid #2c3e50;
	padding-bottom: 15px;
	padding-top	: 15px;
}
.content h2 {
	color: #2c3e50;
}
.content p {
	color: #888888;
}
.clear {clear: both;}
.clear-br {margin-bottom: 2%;}
.br {
	margin-top: 50px;
}
/*breadcrumb dashboard admin*/
.submenu ol {
	list-style: none;
	padding: 0px;margin: 0px;
}
.submenu ol li {
	display: inline-block;
	height: auto;
	font-weight: normal;
	color: #aaa;
}
.submenu ol li a {
	text-decoration: none;
	color: #2c3e50;
}
.submenu .active {
	color: #aaa;
}

/*menu*/
.menu {
	margin-top: 50px;
}
.menu ul {
	list-style: none;
	padding: 0px;

}
.menu ul .dropdown {
	/*position: absolute;*/
	display: none;
}
.menu ul li {
	display: inline-block;
	height: auto;
	font-weight: normal;
	width: 100%;
}
.menu ul li li {
	display: block;
	background-color: rgba(0,0,0,0.1);	
}
.menu ul li .dropdown li a {
	min-width: 150px;
	display: block;
}
.menu li a {
	height: auto;
	display: block;
	padding: 17px;
	padding-left: 30px;
	text-decoration: none;
	color: #fff;
	text-align: left;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.menu li a:hover {
	background-color: rgba(0,0,0,0.1);
	color: #fff;
}
/*.menu ul li:hover > ul {
	display: block;
}*/
.menu ul li .dropdown {
	width: 100%;
/*	border-top: solid #fff;*/
}
.menu .icon-left {
	float: left;
	margin-top: 0px;
	margin-right: 7px;
	width: 18px;
	opacity: 0.7;
}
.menu .icon-right {
	float: right;
	margin-top: 0px;
	margin-right: 7px;
	width: 18px;
	opacity: 0.7;
}
.menu .icon-sub {
	float: left;
	margin-top: 1px;
	margin-right: 7px;
	width: 15px;
	opacity: 0.7;
	padding-left: 15px;
}
.icon-admin {
	float: right;
	width: 23px;
	margin-top: -1px;
	margin-left: 3px;
}
.nusacms .logo {
	width: 200px;
	float: left;
	margin-left: -3px;
}

/*responsive*/
@media only screen and (max-width: 320px) {

}
@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 767px) {

}

/*table*/
.table {
	margin-top: 5px;
	width: 73%;
	float: right;
	margin-right: 3%;
	margin-bottom: 1.5%;
	padding-bottom: 15px;

}
.form {
	margin-top: 5px;
	width: 73%;
	float: right;
	margin-right: 3%;
	margin-bottom: 1.5%;
	padding-bottom: 15px;
}
table {
	border:none;
	color: #555555;
	margin-top: 20px;
}
table a {
	color: #555555;
}
table th {
	border: none;
	padding: 8px;
	border-bottom: 2px solid #aaa;
	background-color: #2c3e50;
	color: #fff;
	text-transform: uppercase;
}
table td {
	border: none;
	padding: 8px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
}
table tr:hover {
	background-color: rgba(0,0,0,0.1);
}
.button {
	border: none;
	padding: 9px 13px;
	background-color: #2c3e50;
	border-left: 4px solid #2c3e50;
}
.button:hover {
	background-color: #2c3e50;
	border-left: 4px solid #2c3e50;
}
